@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: #B22234;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header>a {
    text-decoration: none;
    color: #f3f3f3;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

header>button {
    padding: 08px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    background: #e73045;
    transition: 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header>button:hover {
    letter-spacing: 0.5px;
    background: #d82136;
}

.cardForm {
    width: 300px;
    height: 30vh;
    padding: 10px;
    left: 0;
    right: 0;
    margin: auto;
    transition: 1s ease;
    position: absolute;
    background: #3c3b6eb6;
    border-radius: 20px;
    margin-top: 60px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardForm>h1 {
    text-transform: uppercase;
    margin: 0 0 10px 0;
    font-size: 20px;
}

#formList>input {
    width: 210px;
    height: 30px;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 10px;
}

#formList>div {
    margin-top: 10px;
}

#formList>div>button {
    border: none;
    padding: 8px;
    color: #fff;
    background: #4faa0e;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: .5s all;
    outline: none;
}

#formList>div>button:hover {
    background: #58be0e;
    letter-spacing: 00.5px;
}

#formList>div>#hidden {
    background: #B22234;
}

#formList>div>#hidden:hover {
    background: #d12438;
    letter-spacing: 00.5px;
}

.alert {
    color: #fff;
    margin-top: 10px;
    padding: 3px 0;
    border-radius: 5px;
    font-size: 11px;
    display: none;
}

.cardContent {
    text-align: center;
    width: 100%;
    position: relative;
}

.cardContent>h1 {
    position: relative;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cardContent>h1::before {
    content: "";
    position: absolute;
    width: 310px;
    border-top: 2px dashed #3c3b6eb6;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.cardItem {
    width: 290px;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 0 auto 10px;
    background: #eeeeeede;
    color: #1b1a1a;
    transition: 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cardItem:hover {
    width: 300px;
}

.cardItem>input {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.cardItem>button {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    font-size: 17px;
    background: #e20721;
    border-radius: 50%;
    color: #e2e2e2;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
    outline: none;
}

.cardItem>button:hover {
    background: #9b0c1d;
}

.alertDelete {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    width: 200px;
    height: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 300;
    margin: auto;
    padding: 10px;
    background: #B22234;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.alertDelete>p {
    font-size: 15px;
}

.alertDelete>div {
    margin-top: 5px;
}

.alertDelete>div>button {
    padding: 8px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 5px;
    transition: 0.5s ease;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.alertDelete>div>button:last-child {
    background: #f10621;
}

.alertDelete>div>button:last-child:hover {
    width: 60px;
    background: #af071b;
    letter-spacing: 00.5px;
    font-weight: bold;
}

.alertDelete>div>button:first-child {
    background: #4faa0e;
}

.alertDelete>div>button:first-child:hover {
    background: #4faa0e;
    width: 60px;
    letter-spacing: 00.5px;
    font-weight: bold;
}